.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapImgPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 266px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.card-img-top {
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
  display: block;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card-text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.loadingSpinnerContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  justify-content: center;
  align-items: center;
  display: none;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
